# Git
.git
.gitignore

# Composer
/vendor

# Node.js (si tienes frontend dentro del mismo repo)
node_modules

# Archivos locales de configuración
.env
.env.local

# Volúmenes o datos generados en local
Application/db_vol/
Application/log/

# Archivos que no son necesarios en la imagen
docker-compose.yml
Dockerfile
README.md
